jupyterlab
matplotlib
numpy
pytorch-lightning
tensorboard
torch
torchvision
gym
# gym[atari] # TODO - doesn't work from requirements?

# https://stackoverflow.com/questions/52726475/display-openai-gym-in-jupyter-notebook-only
pyvirtualdisplay
box2d
