gym
# gym[atari] # TODO - doesn't work from requirements?
jupyterlab
matplotlib
moviepy
numpy
pytorch-lightning
tensorboard
torch
torchvision

# https://stackoverflow.com/questions/52726475/display-openai-gym-in-jupyter-notebook-only
pyvirtualdisplay
box2d
